header.header
    .wrapper_lg.flex-between.items-center.gap_20
        .logo 
            a(href="index.html")
                picture 
                    source(srcset="img/logo.webp" type="image/webp")
                    img(src="img/logo.jpg", alt="")
        nav.nav 
            ul.menu.items-center.gap_20
                li.cancel_li
                    a.cancel(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M1 15L14.7071 1M15 15L1.29291 1" stroke="#121212" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                li 
                    a(href="index.html") Головна
                li
                    a(href="#").toggle.flex.items-center.gap_10 
                        | Послуги
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 7" fill="none">
                            <path d="M1 1L6 6L11 1" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    ul.submenu 
                        li 
                            a(href="#") прання килимів
                        li 
                            a(href="#") хімчистка мʼяких меблів
                        li 
                            a(href="#") миття вікон
                li 
                    a(href="index.html#about") Про нас
                li 
                    a(href="index.html#works") Наші роботи
                li 
                    a(href="index.html#info") Питання та відповіді
                li 
                    a(href="index.html#reviews") Відгуки
                li 
                    a(href="#contacts") Контакти
        .header_contacts.flex-between.gap_20.items-center
            span 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M16 14.2222V12.7592C16 12.0322 15.5574 11.3785 14.8825 11.1085L13.0744 10.3853C12.2159 10.0419 11.2375 10.4139 10.824 11.2409L10.6667 11.5556C10.6667 11.5556 8.44444 11.1111 6.66667 9.33333C4.88889 7.55556 4.44444 5.33333 4.44444 5.33333L4.75913 5.17599C5.58612 4.7625 5.95809 3.78412 5.6147 2.92565L4.89146 1.11753C4.62148 0.44258 3.96777 0 3.24083 0H1.77778C0.795938 0 0 0.795938 0 1.77778C0 9.63249 6.36751 16 14.2222 16C15.2041 16 16 15.2041 16 14.2222Z" fill="#FECE00"/>
                </svg>
            div
                p 
                    a(href="tel:+380677925105") +38 067 792 51 05
                p
                    a(href="tel:+380636309690") +38 063 630 96 90 (килими)
        .burger 
            span.bord.b1
            span.bord.b2
            span.bord.b3