section.informaion_container.wrapper.pb_80
    h2.tac Інформація про прання килимів
    .grid.info_col.gap_20 
        .information_block.grid.gap_20
            .icon_adv 
                <svg class="pos_center" xmlns="http://www.w3.org/2000/svg" width="44" height="60" viewBox="0 0 44 60" fill="none">
                    <g clip-path="url(#clip0_43_456)">
                        <path d="M29.7763 14.8219L17.8823 6.65933C17.5739 6.44791 17.2424 6.28634 16.8992 6.17499V10.6516C17.5187 11.0439 17.9298 11.7361 17.9298 12.5246C17.9298 13.7473 16.9406 14.7386 15.7203 14.7386C14.5001 14.7386 13.5108 13.7473 13.5108 12.5246C13.5108 11.7361 13.9223 11.0436 14.5415 10.6516V6.17499C14.1979 6.28634 13.8667 6.44791 13.5584 6.65933L1.66402 14.8219C0.622828 15.537 0 16.7203 0 17.9849V56.1664C0 58.2839 1.71269 60 3.82594 60H27.6144C29.7276 60 31.4403 58.2839 31.4403 56.1664V17.9849C31.4403 16.7203 30.8175 15.537 29.7763 14.8219Z" fill="#FECE00"/>
                        <path d="M43.889 51.2723L34.8128 14.1902C34.5121 12.9617 33.6259 11.9609 32.4449 11.5152L18.9526 6.42644C18.7939 6.36639 18.6319 6.31763 18.47 6.27979L30.1403 14.2891C31.358 15.1247 32.0847 16.5064 32.0847 17.9845V56.166C32.0847 56.9164 31.8995 57.6245 31.5726 58.2464L41.0846 55.9087C43.1369 55.4044 44.3927 53.3287 43.889 51.2723Z" fill="#FCE376"/>
                        <path d="M16.4478 0.729249C16.4478 0.326496 16.1219 0 15.72 0C15.318 0 14.9922 0.326496 14.9922 0.729249V11.6527C14.9922 12.0555 15.318 12.3819 15.72 12.3819C16.1219 12.3819 16.4478 12.0555 16.4478 11.6527V0.729249Z" fill="#FECE00"/>
                        <path d="M24.0083 38.8267C23.3506 38.0473 22.442 37.6572 21.2828 37.6572C20.1235 37.6572 19.2109 38.0473 18.5456 38.8267C17.8803 39.6066 17.5476 40.667 17.5476 42.0083V42.0199C17.5476 43.3532 17.8803 44.4118 18.5456 45.1956C19.2109 45.9795 20.1232 46.371 21.2828 46.371C22.4423 46.371 23.3506 45.9791 24.0083 45.1956C24.666 44.4122 24.9947 43.3536 24.9947 42.0199V42.0083C24.9947 40.6673 24.6656 39.6066 24.0083 38.8267ZM22.8466 42.0199C22.8466 42.8543 22.7104 43.4977 22.438 43.95C22.1656 44.4024 21.7803 44.6283 21.2824 44.6283C20.7845 44.6283 20.3756 44.4024 20.1036 43.95C19.8312 43.4977 19.695 42.8547 19.695 42.0199V42.0083C19.695 41.1739 19.8312 40.5327 20.1036 40.084C20.3759 39.6357 20.7689 39.4115 21.2824 39.4115C21.7959 39.4115 22.1656 39.6357 22.438 40.084C22.7104 40.5323 22.8466 41.1739 22.8466 42.0083V42.0199Z" fill="white"/>
                        <path d="M12.907 36.7274C13.5647 35.9439 13.8934 34.8813 13.8934 33.54V33.5284C13.8934 32.1951 13.5643 31.1383 12.907 30.3585C12.2493 29.5786 11.337 29.1889 10.1698 29.1889C9.00261 29.1889 8.10959 29.579 7.44427 30.3585C6.77895 31.1383 6.44629 32.1947 6.44629 33.5284V33.54C6.44629 34.8813 6.77895 35.9436 7.44427 36.7274C8.10959 37.5112 9.01822 37.9028 10.1698 37.9028C11.3214 37.9028 12.2493 37.5109 12.907 36.7274ZM9.00261 35.4818C8.73023 35.0294 8.59405 34.3864 8.59405 33.5517V33.54C8.59405 32.7056 8.73023 32.0644 9.00261 31.6161C9.27498 31.1678 9.66393 30.9436 10.1698 30.9436C10.6757 30.9436 11.0647 31.1678 11.337 31.6161C11.6094 32.0644 11.7456 32.706 11.7456 33.54V33.5517C11.7456 34.3861 11.6094 35.0294 11.337 35.4818C11.0647 35.9341 10.6753 36.1601 10.1698 36.1601C9.6643 36.1601 9.27498 35.9341 9.00261 35.4818Z" fill="white"/>
                        <path d="M19.9168 29.341L9.20093 46.2189H11.559L22.2513 29.341H19.9168Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_43_456">
                        <rect width="44" height="60" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            p.head_inform.tac.border_bg.flex.flex-center.items-center  Ціна хімчистки
            p.description_inform.tac.border_bg.flex.items-center.flex.flex-center.items-center 125 грн/м2
        .information_block.grid.gap_20
            .icon_adv 
                <svg class="pos_center" xmlns="http://www.w3.org/2000/svg" width="64" height="40" viewBox="0 0 64 40" fill="none">
                    <g clip-path="url(#clip0_43_465)">
                        <path d="M15.3155 27.0742C17.8036 27.0742 19.991 28.3745 21.2331 30.329H42.3334C43.1263 29.0792 44.3059 28.0942 45.7081 27.5492V0H0V30.329H9.39786C10.6361 28.3745 12.8234 27.0742 15.3155 27.0742Z" fill="#FCE376"/>
                        <path d="M0 32.9609C0 33.2373 0.11718 33.5138 0.355447 33.7279C0.593714 33.9381 0.902289 34.0433 1.21477 34.0433H8.32371C8.32371 33.0972 8.5112 32.1939 8.85493 31.3724H0V32.9609Z" fill="#FECE00"/>
                        <path d="M22.3073 34.0433H41.2593C41.2593 33.0972 41.4468 32.1939 41.7905 31.3724H21.7761C22.1199 32.1939 22.3073 33.0972 22.3073 34.0433Z" fill="#FECE00"/>
                        <path d="M61.0978 11.5943C59.1643 9.66709 56.641 8.00853 54.2232 7.65034C51.8093 7.29216 47.0908 7.2688 47.0908 7.2688V27.1715C47.4697 27.1053 47.8564 27.0741 48.2509 27.0741C52.11 27.0741 55.2427 30.1966 55.2427 34.0432H61.1017C61.8438 34.0432 62.586 33.7629 63.1484 33.1983C63.7148 32.6338 63.9999 31.898 63.9999 31.1582V18.575C63.9999 16.0482 63.0313 13.5215 61.0978 11.5943ZM61.9649 20.9655C61.9649 21.2653 61.836 21.5573 61.586 21.7636C61.336 21.9661 61.0236 22.0323 60.7306 21.9739L50.3758 19.9143C50.1492 19.8715 49.9383 19.7508 49.7821 19.56C49.6219 19.3692 49.5477 19.1356 49.5477 18.9059V10.0876C49.5477 10.0876 53.0123 10.1031 54.7857 10.3679C56.559 10.6326 58.4143 11.8512 59.8322 13.2645C61.254 14.6817 61.9649 16.5349 61.9649 18.392V20.9655Z" fill="#FECE00"/>
                        <path d="M20.2723 30.7183C20.1785 30.586 20.0848 30.4536 19.9832 30.329C18.8896 28.9624 17.2061 28.0903 15.3156 28.0903C13.425 28.0903 11.7416 28.9624 10.644 30.329C10.5424 30.4536 10.4487 30.586 10.3549 30.7183C10.2143 30.9286 10.0854 31.1466 9.97604 31.3724C9.5659 32.1744 9.33936 33.0816 9.33936 34.0432C9.33936 37.3331 12.015 40 15.3156 40C18.6161 40 21.2878 37.3331 21.2878 34.0432C21.2878 33.0816 21.0613 32.1744 20.6512 31.3724C20.5418 31.1466 20.4129 30.9286 20.2723 30.7183ZM15.3156 37.1267C13.6086 37.1267 12.222 35.7446 12.222 34.0432C12.222 32.9025 12.847 31.9019 13.7766 31.3724C14.2297 31.1077 14.757 30.9597 15.3156 30.9597C15.8741 30.9597 16.4014 31.1077 16.8545 31.3724C17.7842 31.9019 18.4091 32.9025 18.4091 34.0432C18.4091 35.7446 17.0225 37.1267 15.3156 37.1267Z" fill="#FECE00"/>
                        <path d="M48.2509 28.0903C47.8524 28.0903 47.4657 28.1293 47.0908 28.2032C46.6064 28.2967 46.1416 28.4524 45.708 28.6588C44.7276 29.1143 43.8957 29.8306 43.2941 30.7183C42.6535 31.6683 42.2786 32.8129 42.2786 34.0432C42.2786 37.3331 44.9503 40 48.2509 40C51.5514 40 54.2232 37.3331 54.2232 34.0432C54.2232 30.7534 51.5514 28.0903 48.2509 28.0903ZM48.2509 37.1267C46.54 37.1267 45.1573 35.7446 45.1573 34.0432C45.1573 33.393 45.3604 32.7857 45.708 32.2873C46.0479 31.7968 46.5283 31.4113 47.0908 31.1855C47.4462 31.0415 47.8407 30.9597 48.2509 30.9597C49.9578 30.9597 51.3444 32.3418 51.3444 34.0432C51.3444 35.7446 49.9578 37.1267 48.2509 37.1267Z" fill="#FECE00"/>
                        <path d="M45.7081 2.5968H0V3.37157H45.7081V2.5968Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_43_465">
                        <rect width="64" height="40" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            p.head_inform.tac.border_bg.flex.flex-center.items-center Доставка по місту
            p.description_inform.tac.border_bg.flex.flex-center.items-center 150 грн в обидві сторони по місту (до під'їзду, до воріт, доставка на поверх за додаткову оплату)
        .information_block.grid.gap_20
            .icon_adv 
                <svg class="pos_center" xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
                    <g clip-path="url(#clip0_43_475)">
                        <path d="M17.98 40.8C17.98 45.5 9.39997 58.7 9.39997 58.7L2.42997 45.1C1.61997 43.8 1.21997 42.4 1.21997 40.8C1.21997 36.2 4.95997 32.5 9.59997 32.5C14.24 32.5 17.98 36.2 17.98 40.8ZM13.43 40.8C13.43 38.7 11.71 36.9 9.48997 36.9C7.26997 36.9 5.54997 38.6 5.54997 40.8C5.54997 43 7.26997 44.7 9.48997 44.7C11.71 44.7 13.43 43 13.43 40.8Z" fill="#FCE376"/>
                        <path d="M59.28 9.60005C59.28 14.3 50.7 27.5 50.7 27.5L43.73 13.9C42.92 12.6 42.52 11.2 42.52 9.60005C42.52 5.00005 46.26 1.30005 50.9 1.30005C55.54 1.30005 59.18 5.00005 59.28 9.60005ZM54.74 9.60005C54.74 7.50005 53.02 5.70005 50.8 5.70005C48.58 5.70005 46.86 7.40005 46.86 9.60005C46.86 11.8 48.58 13.5 50.8 13.5C53.02 13.4 54.74 11.7 54.74 9.60005Z" fill="#FCE376"/>
                        <path d="M50.6 28.8C50.1 28.8 49.69 28.5 49.49 28.1L42.52 14.5C41.61 13 41.21 11.3 41.21 9.6C41.21 4.3 45.55 0 50.91 0C56.27 0 60.5 4.3 60.61 9.6C60.61 14.5 52.73 26.8 51.82 28.2C51.52 28.5 51.11 28.8 50.61 28.8H50.6ZM50.8 2.5C46.86 2.5 43.63 5.7 43.63 9.6C43.63 10.9 43.93 12.2 44.64 13.2V13.3L50.6 25C53.53 20.5 57.97 12.6 57.97 9.6C57.97 5.7 54.74 2.5 50.8 2.5Z" fill="#FECE00"/>
                        <path d="M50.7999 14.7C47.9699 14.7 45.6499 12.4 45.6499 9.6C45.6499 6.8 47.9699 4.5 50.7999 4.5C53.6299 4.5 55.9499 6.8 55.9499 9.6C55.9499 12.4 53.7299 14.7 50.7999 14.7ZM50.7999 7C49.3899 7 48.1699 8.2 48.1699 9.6C48.1699 11 49.3799 12.2 50.7999 12.2C52.2199 12.2 53.4299 11 53.4299 9.6C53.4299 8.1 52.3199 7 50.7999 7Z" fill="#FECE00"/>
                        <path d="M9.39 60C8.89 60 8.48 59.6999 8.28 59.2999L1.31 45.7C0.4 44.2 0 42.4999 0 40.7999C0 35.4999 4.34 31.2 9.7 31.2C15.06 31.2 19.29 35.4999 19.4 40.7999C19.4 45.6999 11.52 58 10.61 59.4C10.21 59.8 9.8 60 9.4 60H9.39ZM9.59 33.7999C5.65 33.7999 2.42 37 2.42 40.9C2.42 42.2 2.72 43.5 3.43 44.5V44.5999L9.49 56.2C12.22 51.8 16.76 43.9 16.66 40.7999C16.66 36.8999 13.53 33.7999 9.59 33.7999Z" fill="#FECE00"/>
                        <path d="M9.58994 45.9C6.75994 45.9 4.43994 43.5999 4.43994 40.7999C4.43994 37.9999 6.75994 35.7 9.58994 35.7C12.4199 35.7 14.7399 37.9999 14.7399 40.7999C14.7399 43.5999 12.4199 45.9 9.58994 45.9ZM9.58994 38.2C8.17994 38.2 6.95994 39.3999 6.95994 40.7999C6.95994 42.1999 8.16994 43.4 9.58994 43.4C11.0099 43.4 12.2199 42.1999 12.2199 40.7999C12.2199 39.3999 11.0099 38.2 9.58994 38.2Z" fill="#FECE00"/>
                        <path d="M10.0001 60C9.39008 60 8.79008 59.5 8.79008 58.9C8.69008 58.2 9.19008 57.5999 9.90008 57.4999C18.2801 56.4999 41.2101 52.7 45.7501 47.9C46.6601 47 46.5601 46.1999 46.4601 45.7999C45.9601 43.5999 41.9201 40.6999 35.5501 38.1999C32.8201 37.0999 31.4101 34.2999 32.2201 31.5999C33.1301 28.4999 36.5601 26.5999 42.5201 26.1999C46.5601 25.8999 50.4001 26.2999 50.5001 26.2999C51.2101 26.3999 51.7101 26.9999 51.6101 27.6999C51.5101 28.3999 50.9001 28.8999 50.2001 28.7999C46.5601 28.3999 35.8601 28.0999 34.6501 32.2999C34.2501 33.6999 35.0501 35.2999 36.4701 35.9C41.6201 38 47.9801 41.2999 48.8901 45.2999C49.0901 46.3999 49.0901 47.9999 47.4801 49.6999C44.8501 52.4999 37.7801 55.1 26.2701 57.4C17.8901 59.0999 10.1101 60.0999 10.0101 60.0999C10.1101 60 10.0101 60 10.0101 60H10.0001Z" fill="#FECE00"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_43_475">
                        <rect width="60.6" height="60.1" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            p.head_inform.tac.border_bg.flex.flex-center.items-center Доставка за місто
            p.description_inform.tac.border_bg.flex.flex-center.items-center 250 грн
        .information_block.grid.gap_20
            .icon_adv 
                <svg class="pos_center" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <g clip-path="url(#clip0_44_493)">
                        <path d="M30 0C13.4311 0 0 13.4311 0 30C0 46.5689 13.4311 60 30 60C46.5689 60 60 46.5689 60 30C60 13.4311 46.5689 0 30 0ZM29.9989 53.362C17.1537 53.362 6.73996 42.9494 6.73996 30.1042C6.73996 17.2589 17.1537 6.84629 29.9989 6.84629C42.8441 6.84629 53.2568 17.2589 53.2568 30.1042C53.2568 42.9494 42.8441 53.362 29.9989 53.362Z" fill="#FECE00"/>
                        <path d="M10.3672 30.1041C10.3672 40.9291 19.1751 49.7359 29.999 49.7359C40.8229 49.7359 49.6298 40.9291 49.6298 30.1041C49.6298 19.2792 40.824 10.4723 29.999 10.4723C19.1741 10.4723 10.3672 19.2792 10.3672 30.1041ZM31.1339 18.3135V30.7345L40.7632 40.7305C41.3155 41.3023 41.3003 42.218 40.7241 42.7725C40.1491 43.3258 39.2366 43.3095 38.6811 42.7345L28.6504 32.3208C28.39 32.0506 28.2457 31.6925 28.2457 31.3182V18.3146C28.2457 17.5171 28.8912 16.8694 29.6898 16.8694C30.4883 16.8694 31.1328 17.5171 31.1328 18.3146L31.1339 18.3135Z" fill="#FCE376"/>
                        <path d="M29.6907 16.8684C28.8911 16.8684 28.2466 17.5161 28.2466 18.3136V31.3172C28.2466 31.6926 28.3909 32.0496 28.6513 32.3198L38.682 42.7335C39.2375 43.3085 40.15 43.3259 40.7251 42.7715C41.3012 42.2181 41.3164 41.3024 40.7641 40.7295L31.1348 30.7335V18.3125C31.1348 17.515 30.4893 16.8673 29.6918 16.8673L29.6907 16.8684Z" fill="#FECE00"/>
                        <path d="M30 0C13.4311 0 0 13.4311 0 30C0 46.5689 13.4311 60 30 60C46.5689 60 60 46.5689 60 30C60 13.4311 46.5689 0 30 0ZM29.9989 53.362C17.1537 53.362 6.73996 42.9494 6.73996 30.1042C6.73996 17.2589 17.1537 6.84629 29.9989 6.84629C42.8441 6.84629 53.2568 17.2589 53.2568 30.1042C53.2568 42.9494 42.8441 53.362 29.9989 53.362Z" fill="#FECE00"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_44_493">
                        <rect width="60" height="60" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            p.head_inform.tac.border_bg.flex.flex-center.items-center Термін виконання замовлення
            p.description_inform.tac.border_bg.flex.flex-center.items-center 2-3 доби