.description-info 
    .info-item
        a.readmore(href="#").flex-between.items-center
            span Як довго сохнуть меблі після хімчистки?
            span.svg_btn 
                <svg class="minus_svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <rect x="0" y="0" width="50" height="50" rx="10" ry="10" fill="#FEA900"/>
                    <path d="M31 26.7227H20V24.2783H31V26.7227Z" fill="#1E1E1E"/>
                </svg>
                <svg class="plus_svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <rect x="0" y="0" width="50" height="50" rx="10" ry="10" fill="#FECE00"/>
                    <path d="M26.7764 24.2783H31V26.7227H26.7764V31H24.2236V26.7227H20V24.2783H24.2236V20H26.7764V24.2783Z" fill="#1E1E1E"/>
                </svg>
        .description-more
            div
                p Меблі повністю висихають протягом  6 годин після закінчення хімчистки, залежно від пори року. Але за допомогою спеціального професійного фену цей процес займає 1 годину.
    .info-item
        a.readmore.flex-between.items-center(href="#") 
            span Скільки часу займає хімчистка дивану?
            span.svg_btn 
                <svg class="minus_svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <rect x="0" y="0" width="50" height="50" rx="10" ry="10" fill="#FEA900"/>
                    <path d="M31 26.7227H20V24.2783H31V26.7227Z" fill="#1E1E1E"/>
                </svg>
                <svg class="plus_svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <rect x="0" y="0" width="50" height="50" rx="10" ry="10" fill="#FECE00"/>
                    <path d="M26.7764 24.2783H31V26.7227H26.7764V31H24.2236V26.7227H20V24.2783H24.2236V20H26.7764V24.2783Z" fill="#1E1E1E"/>
                </svg>
        .description-more
                p Залежно від величини дивану хімчистка займає від 1 до 2 годин часу.
    .info-item
        a.readmore.flex-between.items-center(href="#") 
            span Чи безпечна хімчистка для дітей та домашніх улюбленців?
            span.svg_btn
                <svg class="minus_svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <rect x="0" y="0" width="50" height="50" rx="10" ry="10" fill="#FEA900"/>
                    <path d="M31 26.7227H20V24.2783H31V26.7227Z" fill="#1E1E1E"/>
                </svg>
                <svg class="plus_svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <rect x="0" y="0" width="50" height="50" rx="10" ry="10" fill="#FECE00"/>
                    <path d="M26.7764 24.2783H31V26.7227H26.7764V31H24.2236V26.7227H20V24.2783H24.2236V20H26.7764V24.2783Z" fill="#1E1E1E"/>
                </svg>
        .description-more 
            p Наша хімчистка абсолютно безпечна для дітей, алергіків та домашніх улюбленців. Жодного "Хімічного" запаху не залишається.