doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=yes, minimum-scale=1.0, maximum-scale=2.0, initial-scale=1.0")
        title Професійна виїзна хімчистка меблів. Пральня килимів у Луцьку та передмісті
        link(rel="stylesheet", href="css/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    body 
        .dark
        include components/header
        main 
            section.main_section.gray_bg
                .wrapper_lg
                    .flex.column.main_text
                        h1 Професійна виїзна хімчистка меблів. Пральня килимів у Луцьку та передмісті
                        p Ми використовуємо сучасне обладнання та безпечні засоби, які роблять клінінг максимально ефективним.
                        a(href="#contacts").cta.fill_cta замовити послугу 
                .main_img_block
                    picture 
                        source(srcset="img/main.webp" type="image/webp")
                        img(src="img/main.jpg", alt="")
            section.service_container.wrapper_lg.pb_80#services
                h2.tac Послуги
                .grid.col_3.gap_20
                    figure.service_card
                        figcaption
                            picture 
                                source(srcset="img/services.webp" type="image/webp")
                                img(src="img/services.jpg", alt="")
                            h3 Виїзна хімчистка м'яких меблів
                            p Повертаємо мʼяким меблям, матрацам, стільцям, салонам авто, дитячим візочкам та автокріслам  свіжий вигляд без плям і запахів.
                            .flex-between.gap_20.wrap_768
                                a(href="#contacts").cta.fill_cta замовити послугу
                                a(href="#").cta.transparent_cta дізнатися більше
                    figure.service_card
                        figcaption
                            picture 
                                source(srcset="img/services_2.webp" type="image/webp")
                                img(src="img/services_2.jpg", alt="")
                            h3 Хімчистка килимів
                            p Глибоко очищаємо килими від пилу, бруду та стійких забруднень у спеціалізованому цеху. Килим повертає свіжість з першого разу.
                            .flex-between.gap_20.wrap_768
                                a(href="#contacts").cta.fill_cta замовити послугу
                                a(href="#").cta.transparent_cta дізнатися більше
                    figure.service_card
                        figcaption
                            picture 
                                source(srcset="img/services_1.webp" type="image/webp")
                                img(src="img/services_1.jpg", alt="")
                            h3 Професійне миття вікон
                            p Прозорі та сяючі вікна без розводів і подряпин. Ми працюємо швидко, безпечно та навіть з важкодоступними поверхнями.
                            .flex-between.gap_20.wrap_768
                                a(href="#contacts").cta.fill_cta замовити послугу
                                a(href="#").cta.transparent_cta дізнатися більше
            section.about_container#about.wrapper.pb_80
                h2.tac Про нас
                .grid.gap_50
                    picture 
                        source(srcset="img/about_1.webp" type="img/webp")
                        img(src="img/about_1.jpg", alt="")
                    .about_text     
                        h3 Ми спеціалізуємося на професійній хімчистці м’яких меблів, килимів та митті вікон будь-якої складності.
                        p Наша команда використовує сучасні технології та безпечні засоби, щоб відновити чистоту та свіжість у вашому домі.
                        p Ми дбаємо про кожен об’єкт індивідуально: враховуємо матеріали, рівень забруднення та ваші побажання. Завдяки цьому наші клієнти отримують ідеальний результат без зайвого клопоту.
                        p Забудьте про рутинне прибирання — ми зробимо все за вас, професійно та акуратно.
                        p Обираючи нас, ви отримуєте не просто послугу, а надійного партнера у підтримці чистоти та затишку вашого простору.
                        .adv_block.grid
                            div 
                                p.yellow_text 1250+
                                p задоволених клієнтів
                            div 
                                p.yellow_text 5
                                p років досвіду
                            div 
                                p.yellow_text 10
                                p працівників
                .grid.gap_50
                    .about_text 
                        .our_adv 
                            h2 Наші переваги:
                            .adv_item.grid.gap_20.items-center 
                                .icon_adv 
                                    <svg class="pos_center" xmlns="http://www.w3.org/2000/svg" width="25" height="50" viewBox="0 0 25 50" fill="none">
                                        <g clip-path="url(#clip0_7_237)">
                                            <path d="M25 0.849484C25 0.482951 24.7042 0.19043 24.3416 0.19043H21.581V1.42043H25.0035V0.853008L25 0.849484Z" fill="#FECE00"/>
                                            <path d="M21.5775 4.1413H24.338C24.7042 4.1413 24.9965 3.84525 24.9965 3.48224V3.00293H21.5739V4.14482L21.5775 4.1413Z" fill="#FECE00"/>
                                            <path d="M25 1.76929H21.5775V2.64685H25V1.76929Z" fill="#FECE00"/>
                                            <path d="M19.0352 7.4188L17.5423 9.38186C17.5423 9.38186 19.0071 14.9116 21.9402 16.0499C22.2254 16.1592 22.4648 15.8173 22.2676 15.5847C21.1937 14.3371 19.1479 11.4189 19.4402 7.57739C19.4578 7.35183 19.1761 7.23906 19.0387 7.4188H19.0352Z" fill="#FECE00"/>
                                            <path d="M1.42606 4.12711V6.60473H8.19014V7.56335L16.7641 8.88146L20.7887 4.12711V0.158689C4.7324 -0.951483 1.42606 4.12711 1.42606 4.12711Z" fill="#FECE00"/>
                                            <path d="M16.7641 8.88139L20.7887 4.12703V4.08122C19.3732 3.33406 17.7606 2.91113 16.0528 2.91113C12.8873 2.91113 10.0599 4.35964 8.19366 6.6258V7.56328L16.7676 8.88139H16.7641Z" fill="#FECE00"/>
                                            <g style="mix-blend-mode:color-dodge" opacity="0.49">
                                            <path d="M20.7887 4.12721V4.08139C19.7535 3.56331 18.6338 3.22145 17.4894 3.06638C16.3486 2.92188 15.1796 2.94655 14.0528 3.18268C12.9225 3.40472 11.8345 3.82764 10.8451 4.41973C9.8486 5.00125 8.9648 5.76603 8.20424 6.64007V6.6295L8.19015 7.56698L8.17255 6.6295V6.62245L8.17607 6.61893C8.8979 5.70964 9.78522 4.92371 10.7782 4.31752C11.2747 4.0109 11.8028 3.75715 12.3451 3.54216C12.8873 3.32718 13.4472 3.15801 14.0211 3.04876C14.5916 2.93245 15.1761 2.86901 15.7571 2.85844C16.3416 2.83729 16.9261 2.87606 17.5 2.96417C18.6514 3.13686 19.7711 3.52102 20.7852 4.08492V4.13073L20.7887 4.12721Z" fill="#FECE00"/>
                                            </g>
                                            <path d="M8.19014 9.31494L7.84507 12.7723C7.62676 14.9751 6.65141 17.0333 5.08803 18.5981L4.34859 19.3382C3.37676 20.3109 2.77465 21.5938 2.64437 22.9648L0.0140846 45.8308C-0.18662 48.0723 1.57746 50.0036 3.82394 50.0036H20.7465C23.1162 50.0036 24.9155 47.8714 24.5176 45.5347L20.6479 22.6793C20.4366 21.4881 19.8662 20.3885 19.0106 19.532C17.4331 17.9531 16.581 15.7892 16.662 13.5583L16.7641 10.6366L8.19014 9.31847V9.31494Z" fill="#FECE00"/>
                                            <path d="M24.5211 45.5313L20.6514 22.6758C20.4401 21.4846 19.8697 20.385 19.0141 19.5286C17.4366 17.9497 16.5845 15.7857 16.6655 13.5548L16.7676 10.6331L15.8063 10.4851C11.8591 15.1478 9.47534 21.1815 9.47534 27.7721C9.47534 37.0129 14.1549 45.1577 21.2711 49.9649C23.3767 49.683 24.8908 47.6988 24.5246 45.5348L24.5211 45.5313Z" fill="#FECE00"/>
                                            <path d="M24.5211 45.5313L20.6514 22.6758C20.4401 21.4846 19.8697 20.385 19.0141 19.5286C17.4366 17.9497 16.5845 15.7857 16.6655 13.5548L16.7676 10.6331L15.8063 10.4851C11.8591 15.1478 9.47534 21.1815 9.47534 27.7721C9.47534 37.0129 14.1549 45.1577 21.2711 49.9649C23.3767 49.683 24.8908 47.6988 24.5246 45.5348L24.5211 45.5313Z" fill="#FAFAFA"/>
                                            <g opacity="0.53">
                                            <path d="M24.5211 45.5313L20.6514 22.6758C20.4402 21.4846 19.8697 20.385 19.0141 19.5286C17.4366 17.9497 16.5845 15.7857 16.6655 13.5548L16.7676 10.6331L15.8064 10.4851C11.8592 15.1478 9.47537 21.1815 9.47537 27.7721C9.47537 37.0129 14.1549 45.1577 21.2711 49.9649C23.3768 49.683 24.8909 47.6988 24.5247 45.5348L24.5211 45.5313Z" fill="#FECE00"/>
                                            <g style="mix-blend-mode:color-dodge" opacity="0.49">
                                                <path d="M16.662 13.5547L16.7465 10.633L16.7606 10.6507L15.7958 10.5097L15.8169 10.5026C14.6232 11.9441 13.5704 13.4983 12.6831 15.1442C11.7993 16.7936 11.1021 18.5382 10.581 20.3321C9.52817 23.9234 9.31691 27.7332 9.79578 31.4373C10.2887 35.1449 11.6021 38.7292 13.5599 41.9117C15.5493 45.0765 18.1831 47.8361 21.2641 49.9648C18.1549 47.8749 15.4824 45.1365 13.4789 41.961C11.5035 38.7715 10.169 35.1766 9.65846 31.4549C9.16198 27.7332 9.40846 23.9058 10.4754 20.3039C11.5247 16.6984 13.3451 13.3256 15.7817 10.4744L15.7887 10.4639H15.8028L16.7641 10.6189H16.7782V10.6366L16.6585 13.5582L16.662 13.5547Z" fill="#FECE00"/>
                                            </g>
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7_237">
                                            <rect width="25" height="50" fill="white"/>
                                            </clipPath>
                                        </defs>
                                        </svg>
                                .adv_text
                                    h3 Гіпоалергенна хімія
                                    p Використовуємо тільки найкращу професійну гіпоалергенну хімію, яка безпечна для дітей та домашніх улюбленців.

                            .adv_item.grid.gap_20.items-center 
                                .icon_adv 
                                    <svg class="pos_center" xmlns="http://www.w3.org/2000/svg" width="37" height="50" viewBox="0 0 37 50" fill="none">
                                        <g clip-path="url(#clip0_7_260)">
                                            <path d="M25.0391 12.3515L15.0373 5.54937C14.7781 5.37319 14.4993 5.23855 14.2107 5.14575V8.8763C14.7317 9.2032 15.0774 9.77998 15.0774 10.4371C15.0774 11.456 14.2455 12.2821 13.2194 12.2821C12.1933 12.2821 11.3614 11.456 11.3614 10.4371C11.3614 9.77998 11.7074 9.2029 12.2281 8.8763V5.14575C11.9392 5.23855 11.6607 5.37319 11.4014 5.54937L1.39929 12.3515C0.523742 12.9474 0 13.9336 0 14.9873V46.8052C0 48.5698 1.44021 50 3.21727 50H23.2212C24.9982 50 26.4384 48.5698 26.4384 46.8052V14.9873C26.4384 13.9336 25.9147 12.9474 25.0391 12.3515Z" fill="#FECE00"/>
                                            <path d="M36.9065 42.7269L29.2743 11.8251C29.0214 10.8014 28.2763 9.96745 27.2831 9.59597L15.9373 5.35536C15.8039 5.30533 15.6677 5.26469 15.5315 5.23315L25.3451 11.9076C26.3691 12.6039 26.9802 13.7553 26.9802 14.9871V46.805C26.9802 47.4303 26.8244 48.0204 26.5496 48.5387L34.5483 46.5906C36.2741 46.1703 37.3301 44.4406 36.9065 42.7269Z" fill="#FCE376"/>
                                            <path d="M13.8311 0.607707C13.8311 0.27208 13.5571 0 13.2191 0C12.8811 0 12.6071 0.27208 12.6071 0.607707V9.71058C12.6071 10.0462 12.8811 10.3183 13.2191 10.3183C13.5571 10.3183 13.8311 10.0462 13.8311 9.71058V0.607707Z" fill="#FECE00"/>
                                            <path d="M20.1886 32.3555C19.6356 31.7059 18.8715 31.3809 17.8967 31.3809C16.9219 31.3809 16.1544 31.7059 15.595 32.3555C15.0355 33.0054 14.7558 33.889 14.7558 35.0068V35.0165C14.7558 36.1276 15.0355 37.0097 15.595 37.6629C16.1544 38.3161 16.9216 38.6424 17.8967 38.6424C18.8718 38.6424 19.6356 38.3158 20.1886 37.6629C20.7417 37.01 21.0181 36.1279 21.0181 35.0165V35.0068C21.0181 33.8893 20.7414 33.0054 20.1886 32.3555ZM19.2117 35.0165C19.2117 35.7118 19.0972 36.248 18.8681 36.6249C18.6391 37.0019 18.3151 37.1902 17.8964 37.1902C17.4777 37.1902 17.1338 37.0019 16.9051 36.6249C16.6761 36.248 16.5615 35.7121 16.5615 35.0165V35.0068C16.5615 34.3114 16.6761 33.7771 16.9051 33.4032C17.1341 33.0296 17.4646 32.8428 17.8964 32.8428C18.3282 32.8428 18.6391 33.0296 18.8681 33.4032C19.0972 33.7768 19.2117 34.3114 19.2117 35.0068V35.0165Z" fill="white"/>
                                            <path d="M10.8535 30.606C11.4066 29.9532 11.683 29.0677 11.683 27.9499V27.9402C11.683 26.8291 11.4063 25.9485 10.8535 25.2986C10.3005 24.6488 9.53333 24.324 8.55181 24.324C7.57029 24.324 6.81934 24.6491 6.25986 25.2986C5.70039 25.9485 5.42065 26.8288 5.42065 27.9402V27.9499C5.42065 29.0677 5.70039 29.9528 6.25986 30.606C6.81934 31.2592 7.58342 31.5855 8.55181 31.5855C9.52019 31.5855 10.3005 31.2589 10.8535 30.606ZM7.57029 29.568C7.34124 29.1911 7.22672 28.6553 7.22672 27.9596V27.9499C7.22672 27.2546 7.34124 26.7202 7.57029 26.3466C7.79933 25.973 8.1264 25.7862 8.55181 25.7862C8.97721 25.7862 9.30429 25.973 9.53333 26.3466C9.76237 26.7202 9.87689 27.2549 9.87689 27.9499V27.9596C9.87689 28.655 9.76237 29.1911 9.53333 29.568C9.30429 29.945 8.97691 30.1333 8.55181 30.1333C8.12671 30.1333 7.79933 29.945 7.57029 29.568Z" fill="white"/>
                                            <path d="M16.7481 24.4507L7.73703 38.5156H9.71992L18.7112 24.4507H16.7481Z" fill="white"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7_260">
                                            <rect width="37" height="50" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                .adv_text
                                    h3 Прозоре ціноутворення
                                    p Наші ціни фіксовані, немає ніяких додаткових доплат. Здійснюємо готівковий та безготівковий розрахунок.

                            .adv_item.grid.gap_20.items-center 
                                .icon_adv 
                                    <svg class="pos_center" xmlns="http://www.w3.org/2000/svg" width="58" height="64" viewBox="0 0 58 64" fill="none">
                                        <g clip-path="url(#clip0_7_269)">
                                            <path d="M40.7562 47.1952C41.3165 46.2582 42.1151 45.6445 42.6788 45.0027C47.6358 39.3446 50.5651 31.3433 50.5651 31.3433C52.2276 27.8281 52.8232 26.2276 52.7826 24.3575C52.7389 22.3586 51.7359 23.5774 51.557 23.904C50.6159 25.6176 49.12 29.3462 49.12 29.3462C48.3144 30.591 48.2466 29.7213 48.5212 28.9614C50.206 24.2867 51.2404 20.956 51.3318 19.3087C51.4904 16.3909 49.6008 17.7231 49.2254 18.5909C48.917 19.2923 47.2744 24.2453 46.5089 26.0897C45.2888 29.0395 45.614 26.1007 45.8868 25.3104C46.6337 23.1133 47.2705 21.224 47.7201 19.5587L27.3694 59.9261C30.5362 61.7349 33.3832 62.0401 33.3832 62.0401C33.3832 62.0401 37.5288 52.6012 40.7665 47.2109L40.7562 47.1952Z" fill="#FCE376"/>
                                            <path d="M48.407 15.5584C48.4966 12.8939 46.5551 14.3329 46.2716 14.8238C45.0743 16.8977 42.7428 23.7297 42.7428 23.7297C41.4635 26.6648 41.8721 23.7155 41.9229 23.5103C42.9873 19.3079 44.7474 16.1423 44.6205 14.0367C44.526 12.4774 43.2539 13.0914 42.8891 13.3888C41.7799 14.2726 39.5445 19.968 39.5445 19.968L36.1923 28.3505C34.3295 32.5805 37.1424 24.3459 37.1424 24.3459C38.7611 19.1836 36.8185 19.1856 36.8185 19.1856C35.0142 19.1992 33.7983 24.467 33.2437 26.0131C29.666 36.0241 31.6123 37.0695 31.2311 39.6537C31.0511 40.8688 27.1519 45.6818 26.7591 46.1781C25.3512 47.9642 21.3445 53.917 21.3445 53.917C22.9963 56.8443 25.25 58.7122 27.355 59.9177L47.7056 19.5503C48.1026 18.0598 48.3605 16.7431 48.4028 15.5657L48.407 15.5584Z" fill="#FECE00"/>
                                            <path d="M24.6229 1.98279C24.6229 1.98279 20.4773 11.4216 17.2396 16.812C16.6793 17.7489 15.8807 18.3626 15.317 19.0045C10.36 24.6626 7.43072 32.6639 7.43072 32.6639C5.76826 36.179 5.17262 37.7795 5.21328 39.6497C5.25689 41.6485 6.25993 40.4298 6.43884 40.1032C7.37995 38.3895 8.87585 34.6609 8.87585 34.6609C9.6742 33.412 9.74921 34.2858 9.47466 35.0458C7.78985 39.7205 6.75549 43.0511 6.66403 44.6984C6.50546 47.6162 8.395 46.284 8.77045 45.4162C9.07879 44.7149 10.7215 39.7618 11.4869 37.9174C12.7071 34.9676 12.3776 37.9138 12.1091 38.6967C11.39 40.8122 10.7713 42.6534 10.3241 44.281L30.6119 4.07265C27.4554 2.27953 24.6229 1.98279 24.6229 1.98279Z" fill="#FECE00"/>
                                            <path d="M26.7648 24.3536C26.9448 23.1385 30.8439 18.3255 31.2367 17.8292C32.6446 16.0431 36.6513 10.0903 36.6513 10.0903C34.9965 7.1515 32.7313 5.28674 30.6119 4.07285L10.3313 44.2854C9.90359 45.846 9.63475 47.215 9.59303 48.4415C9.50344 51.1061 11.445 49.6671 11.7284 49.1761C12.9258 47.1023 15.2572 40.2703 15.2572 40.2703C16.5365 37.3351 16.128 40.2845 16.0771 40.4896C15.0127 44.692 13.2526 47.8577 13.3723 49.9591C13.4668 51.5184 14.7389 50.9044 15.1038 50.607C16.2129 49.7231 18.4483 44.0277 18.4483 44.0277L21.8006 35.6453C23.6633 31.4152 20.8504 39.6498 20.8504 39.6498C19.2317 44.8122 21.1743 44.8101 21.1743 44.8101C22.9786 44.7966 24.1945 39.5287 24.7491 37.9827C28.3225 27.979 26.3805 26.9262 26.7617 24.3421L26.7648 24.3536Z" fill="#FCE376"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7_269">
                                            <rect width="38" height="50" fill="white" transform="translate(25.0455 0.849365) rotate(30)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                .adv_text
                                    h3 Досвідчені майстри
                                    p Маємо багаторічний досвід у сфері клінінгу і постійно удосконалюємо свої знання, навчаючись у провідних спеціалістів України. Відвідуємо клінінгові форуми та виставки.

                            .adv_item.grid.gap_20.items-center 
                                .icon_adv 
                                    <svg class="pos_center" xmlns="http://www.w3.org/2000/svg" width="46" height="40" viewBox="0 0 46 40" fill="none">
                                        <g clip-path="url(#clip0_7_275)">
                                            <path d="M46 4.31814V29.3719C46 31.7527 44.0597 33.6901 41.6738 33.6901H29.1021L25.0417 38.9925C24.5514 39.6331 23.8077 40 23.0005 40C22.1934 40 21.4491 39.6326 20.9593 38.9925L16.8979 33.6901H4.32623C1.94132 33.6901 0 31.7532 0 29.3719V4.31814C0 1.93683 1.94132 0 4.32623 0H41.6738C44.0592 0 46 1.93683 46 4.31814Z" fill="#FECE00"/>
                                            <path d="M34.7 13.601C34.7 15.3816 34.1394 16.9392 33.1636 18.5253C31.08 21.9135 27.9465 24.9155 24.0896 27.238C23.4897 27.599 22.7411 27.599 22.1418 27.238C18.285 24.9155 15.1514 21.914 13.0678 18.5253C12.0921 16.9392 11.5314 15.3816 11.5314 13.601C11.5314 11.5354 12.9078 8.65308 16.2341 8.65308C20.3047 8.65308 22.0323 11.9546 23.116 13.9803C24.1997 11.9546 25.9278 8.65308 29.9979 8.65308C33.3242 8.65308 34.7 11.5354 34.7 13.601Z" fill="#FFEEA4"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7_275">
                                            <rect width="46" height="40" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                .adv_text
                                    h3 Відмінний сервіс
                                    p Максимально швидко реагуємо на замовлення. Працюємо щодня, без вихідних. Забираємо і відвозимо килими щодня. Виконуємо хімчистку килимів протягом 2 діб.
                    picture 
                        source(srcset="img/about_2.webp" type="img/webp")
                        img(src="img/about_2.jpg", alt="")
            section.works_container.wrapper_lg.pb_80#works
                h2.tac Наші роботи
                .grid.col_3.gap_20
                    .work.work_1 
                        span.pos_center до/після
                    .work.work_2
                        span.pos_center до/після
                    .work.work_3 
                        span.pos_center до/після
                .button_container.tac 
                    a(href="#contacts").cta.fill_cta замовити послугу 
            section.question_conteiner.wrapper.pb_80#info
                h2.tac Питання та відповіді
                include components/information
            section.reviews_conainer.pb_80.wrapper_lg#reviews
                h2.tac Відгуки
                .grid.col_3.gap_20 
                    .review
                        h3 Олександр
                        p Приїхали швидко і вчасно, сліди від вина вивели, не лишивши і сліду. Прекрасна команда! Дуже задоволений!
                    .review
                        h3 Оксана
                        p Не перший раз замовляю послуги цієї компанії. Рекомендую знайомим і близьким даний сервіс, адже на відмінно справляються з відновленням чистоти усіх меблів.
                    .review
                        h3 Анастасія
                        p Хлопці справилися із застарілими забрудненнями. Ніякого запаху після хімчистки не лишилося. Буду звертатися ще.
           
            include components/contacts 
        include components/footer 
        script(src="js/scripts.js") 